* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

ul li {
    background-color: #f9f9f9;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

ul li input[type="checkbox"] {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    align-self: center;
}

input {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

p {
    font-size: 14px;
    color: #666;
}

.category-node {
    list-style: none;
    margin-left: 16px;
    width: auto;
}

.category-node__content {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.category-node__content:hover {
    background-color: #f0f0f0;
}

.category-node__content--selected {
    background-color: #d1eaff;
}

.category-node__checkbox {
    margin-right: 8px;
    pointer-events: none;
}

.category-node__children {
    margin: 0;
    padding: 0 0 0 16px;
}

.selected-tag {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid;
    padding: 5px;
    margin: 3px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
}

.selected-tag button {
    background: none;
    border: none;
    color: #ff0000;
    margin-left: 8px;
    cursor: pointer;
}

.selected-tag button:hover {
    color: #ff5555;
}
